@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script>
        location.href = "/home";
    </script>
</head>

<body>
    <center>
        <div class="lds-dual-ring"></div>
        <p>Sto caricando il sito</p>
    </center>
</body>


